<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=768, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="shortcut icon" href="{{ asset('img/appicon/AppIcon57x57.png') }}">
  <!-- Standard iPhone -->
  <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('img/appicon/AppIcon57x57.png') }}" />
  <!-- Retina iPhone -->
  <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('img/appicon/AppIcon57x57@2x.png') }}" />
  <!-- Standard iPad -->
  <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('img/appicon/AppIcon72x72.png') }}" />
  <!-- Retina iPad -->
  <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('img/appicon/AppIcon72x72@2x.png') }}" />


  <meta http-equiv="X-UA-Compatible" content="IE=edge">


  <title>DIVE{% block title %}{% endblock %}</title>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:800,700,400,300' rel='stylesheet' type='text/css'>
  {% block stylesheets %}
  {% stylesheets
      '@DiveFrontBundle/Resources/ui/css/0_reset.css'
      '@DiveFrontBundle/Resources/ui/css/vendor/ui-lightness/jquery-ui.min.css'
      '@DiveFrontBundle/Resources/ui/css/1_main.css'
      '@DiveFrontBundle/Resources/ui/css/2_page.css'
      '@DiveFrontBundle/Resources/ui/css/3_gallery.css'
      '@DiveFrontBundle/Resources/ui/css/4_browser.css'
      '@DiveFrontBundle/Resources/ui/css/5_search.css'
  output='compiled/style_compiled.css' filter='cssrewrite'%}
  <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
  {#<link rel="stylesheet" href="{{ asset('css/0_reset.css') }}" />
  <link rel="stylesheet" href="{{ asset('css/vendor/ui-lightness/jquery-ui.min.css') }}" />
  <link rel="stylesheet" href="{{ asset('css/1_main.css') }}" />
  <link rel="stylesheet" href="{{ asset('css/2_page.css' ) }}" />
  <link rel="stylesheet" href="{{ asset('css/3_gallery.css' ) }}" />
  <link rel="stylesheet" href="{{ asset('css/4_browser.css' ) }}" />
  <link rel="stylesheet" href="{{ asset('css/5_search.css' ) }}" />#}
  <link rel="stylesheet" href="{{ asset('config/'~dataset~'/style.css' ) }}" />
  {% endblock %}
  <!--[if lt IE 9]>
    <script src="{{ asset('js/vendor/html5shiv.js')}}"></script>
    <script src="{{ asset('js/vendor/respond.min.js')}}"></script>
  <![endif]-->





  </head>
  <body class="{% block bodyClass %}{% endblock %}">
    {% block page %}
    <div id="topbar">
      <img src="{{ asset('img/dive-logo.png') }}" id="logo" onclick="document.location.href = '{{ app.request.baseUrl }}/{{dataset}}'; return false;">
      <div id="log"></div>
      <div id="collections-button"  class="button" title="Collections"></div>
      <div id="user-button"  class="button" title="Registered users"></div>
      <div id="help-button" class="button" title="Help"></div>
    </div>
    <div id="user-menu" class="top-menu"></div>
    <div id="collection-menu" class="top-menu"></div>
    {% include 'DiveFrontBundle::_flashMessages.html.twig' %}
    <div id="header">
      {% block header %}
      {% endblock %}
    </div>
    <div id="content" class="{% block contentClass %}{% endblock %}">
      {% block content %}{% endblock %}
    </div>
    <div id="footer">
      {% block footer %}{% endblock %}
    </div>
    {% endblock %}

    {# load config #}
    <script type="text/javascript" src="{{ asset('config/'~dataset~'/script.js') }}"></script>

    {# set Globals #}
    <script type="text/javascript">
      function Global(){}

      // load config
      Global.config = new Config();

      Global.touchSupport = 'ontouchstart' in document.documentElement;

      Global.basePath = '{{ path("dive_front_browse_index") }}';
      Global.dataset = '{{ dataset }}';

      Global.imagePath = (Global.config.ImagePath ? Global.config.ImagePath : (Global.config.addBasePath ? Global.basePath : '') + 'images/search');

      Global.APIPath = (Global.config.addBasePath ? Global.basePath : '') + Global.config.APIPath;
      Global.allowAnimation = !Global.touchSupport || window.location.hash.indexOf('animate') > -1;
      Global.europeanaKey = '{{ europeana_api_key }}';
    </script>

    {% block javascripts %}
    {% javascripts
    '@DiveFrontBundle/Resources/ui/js/vendor/fastclick.js'
    '@DiveFrontBundle/Resources/ui/js/vendor/jquery-1.10.2.min.js'
    '@DiveFrontBundle/Resources/ui/js/vendor/jquery-ui-1.10.4.min.js'
    '@DiveFrontBundle/Resources/ui/js/vendor/jquery.hammer-full.min.js'
    '@DiveFrontBundle/Resources/ui/js/vendor/moment.min.js'
    '@DiveFrontBundle/Resources/ui/js/vendor/velocity.min.js'
    '@DiveFrontBundle/Resources/ui/js/Helpers.js'
    '@DiveFrontBundle/Resources/ui/js/User.js'
    '@DiveFrontBundle/Resources/ui/js/Row.js'
    '@DiveFrontBundle/Resources/ui/js/Timeline.js'
    '@DiveFrontBundle/Resources/ui/js/Marker.js'
    '@DiveFrontBundle/Resources/ui/js/Entity.js'
    '@DiveFrontBundle/Resources/ui/js/DataEntity.js'
    '@DiveFrontBundle/Resources/ui/js/Visual.js'
    '@DiveFrontBundle/Resources/ui/js/Filter.js'
    '@DiveFrontBundle/Resources/ui/js/FilterAction.js'
    '@DiveFrontBundle/Resources/ui/js/Button.js'
    '@DiveFrontBundle/Resources/ui/js/Browser.js'
    '@DiveFrontBundle/Resources/ui/js/Data.js'
    '@DiveFrontBundle/Resources/ui/js/Details.js'
    '@DiveFrontBundle/Resources/ui/js/Collections.js'
    '@DiveFrontBundle/Resources/ui/js/CollectionMenu.js'
    '@DiveFrontBundle/Resources/ui/js/Comments.js'
    '@DiveFrontBundle/Resources/ui/js/Europeana.js'
    '@DiveFrontBundle/Resources/ui/js/Share.js'
    '@DiveFrontBundle/Resources/ui/js/Search.js'
    '@DiveFrontBundle/Resources/ui/js/Gallery.js'
    '@DiveFrontBundle/Resources/ui/js/Showcase.js'
    '@DiveFrontBundle/Resources/ui/js/Block.js'
    '@DiveFrontBundle/Resources/ui/js/Help.js'
    '@DiveFrontBundle/Resources/ui/js/Popup.js'
    '@DiveFrontBundle/Resources/ui/js/HashPath.js'
    '@DiveFrontBundle/Resources/ui/js/Preload.js'
    '@DiveFrontBundle/Resources/ui/js/main.js'
    output="compiled/script_compiled.js" %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {# <script type="text/javascript" src="{{ asset('js/vendor/fastclick.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/vendor/jquery-1.10.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/vendor/jquery-ui-1.10.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/vendor/jquery.hammer-full.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/vendor/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/vendor/velocity.min.js') }}"></script>
     #}

    <script type="text/javascript" src="{{ asset('bundles/frontwiseajaxlog/js/AjaxLog.js') }}"></script>
    <script type="text/javascript">
      AjaxLog.basePath = Global.basePath + AjaxLog.basePath;
    </script>







   {#} <script type="text/javascript" src="{{ asset('js/Helpers.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/User.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/Row.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/Timeline.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/Marker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/Entity.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/DataEntity.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/Visual.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/Filter.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/FilterAction.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/Button.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/Browser.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/Data.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/Details.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/Collections.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/CollectionMenu.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/Comments.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/Europeana.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/Share.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/Search.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/Gallery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/Showcase.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/Block.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/Help.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/Popup.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/HashPath.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/Preload.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/main.js') }}"></script>#}
    {% endblock %}


  </body>
  </html>